<link rel="stylesheet" href="/css/editor.css" />

<main>
  <div id="sidePannel">
    <div id="tripple-button">
      <button class="btn" id="font-minus-btn">Font -</button>
      <button class="btn" id="color-change-btn">Color</button>
      <button class="btn" id="font-plus-btn">Font +</button>
    </div>
    <button class="btn" id="save-settings-btn">Save settings</button>
    <button class="btn" id="rename-btn">Rename File</button>
    <a class="btn" href="/inspect/{{filepath}}">Inspect File</a>
  </div>

  <div id="maincontent">
    <div class="path" id="file-path">
      /{{filepath}}
    </div>
    <div class="editor">
      <div id="numbers"></div>
      <textarea id="text-edit">
        {{filecontent}}
      </textarea>

      <button id="save-file-btn" class="btn">Save Changes</button>
    </div>
  </div>

  <dialog id="rename-dialog">
    <form enctype="multipart/form-data" action="/file/rename" method="post">
      <p>New file Name </p>
      <input type="text" name="name" />
      <input type="hidden" name="filepath" value="{{filepath}}" />
      <button type="submit" class="btn">Ok</button>
      <button
        class="btn"
        id="rename-close-btn"
        formmethod="dialog"
      >Cancel</button>
    </form>
  </dialog>
</main>

<script src="/js/editor.js" defer></script>