<main>
  <form action="/post" method="POST">
    <h1>Pizza!</h1>
    <div class="input-pair">
      <input type="text" name="size" placeholder="size(cm)" id="size" />
      <label for="size">Choose your size!</label>
    </div>
    <input type="submit" value="EAT!!" />

  </form>
</main>