{{#if error}}
  <div class="error">
    {{error}}
  </div>
{{/if}}
<h1>LOGIN</h1>

<form action="/login" method="POST" enctype="multipart/form-data" class="logForm">
  <label for="username">username</label>
  <input type="text" name="username" id="username" />
  <label for="password">password</label>
  <input type="password" name="password" id="password" />
  <button type="submit" class="btn">Log In</button>
</form>

<p style="display: block; width: 100%; text-align:center;">
    Don't  have a account? Register <a href="/register">here</a>!
</p>