{{#if error}}
  <div class="error">
    {{error}}
  </div>
{{/if}}
<h1>REGISTER</h1>

<form action="/register" method="POST" enctype="multipart/form-data" class="logForm">
  <label for="username">username</label>
  <input type="text" name="username" id="username" />
  <label for="password">password</label>
  <input type="password" name="password" id="password" />
  <label for="passwordConfirm">repeat password</label>
  <input type="password" name="passwordconfirm" id="passwordconfirm" />
  <button type="submit">Register</button>
</form>