* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  width: 100vw;
  min-height: 100vh;
  background: #0d161c;
  color: whitesmoke;
  font-family: "Work Sans", sans-serif;
  font-size: 1.3em;
}

main {
  display: flex;
  height: calc(100vh - 120px);
  width: 100%;
}

.btn {
  all: unset;
  font-size: 1rem;
  color: inherit;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  border-color: lightcoral;
  color: lightcoral;
  scale: 1.02;
}
